[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Line-of-Credit"]
	path = lib/Line-of-Credit
	url = https://github.com/debtdao/Line-of-Credit@fix/submodules
[submodule "lib/idle-contracts"]
	path = lib/idle-contracts
	url = https://github.com/Idle-Labs/idle-contracts
[submodule "lib/idle-fee-collector"]
	path = lib/idle-fee-collector
	url = https://github.com/Idle-Finance/idle-fee-collector
[submodule "lib/Line-of-credit"]
	path = lib/Line-of-credit
	url = https://github.com/debtdao/Line-of-credit
[submodule "/Users/craigson/Dev/debtDao/spigot-migrations/lib/Line-of-credit"]
	branch = halborn-fixes
